-----BEGIN CERTIFICATE-----
MIIEojCCA4qgAwIBAgIUKVdBZE0nihle6Z/Gw1ZpdrxTS3EwDQYJKoZIhvcNAQEL
BQAwgYsxCzAJBgNVBAYTAlVTMRkwFwYDVQQKExBDbG91ZEZsYXJlLCBJbmMuMTQw
MgYDVQQLEytDbG91ZEZsYXJlIE9yaWdpbiBTU0wgQ2VydGlmaWNhdGUgQXV0aG9y
aXR5MRYwFAYDVQQHEw1TYW4gRnJhbmNpc2NvMRMwEQYDVQQIEwpDYWxpZm9ybmlh
MB4XDTIzMDQwMjEwNDEwMFoXDTM4MDMyOTEwNDEwMFowYjEZMBcGA1UEChMQQ2xv
dWRGbGFyZSwgSW5jLjEdMBsGA1UECxMUQ2xvdWRGbGFyZSBPcmlnaW4gQ0ExJjAk
BgNVBAMTHUNsb3VkRmxhcmUgT3JpZ2luIENlcnRpZmljYXRlMIIBIjANBgkqhkiG
9w0BAQEFAAOCAQ8AMIIBCgKCAQEA6Z3EHhd4YBn82yE9KKuuC5w+JeFqPhUGOh6z
rHctq3yOJpfgpjDaZYiTZCLIjufvVJIHpeZf8QJoYjhRt3nmmGSN0lnIbuvM1eHi
LXpsdbBAnuwJuAvBl3JGEakw0gJnbyq9D799TF6Po4e5jvBIJtyVmutbv0Bl6zDd
PFxG3d1M/e8q/k0I4q0mIHTrZfRQgPQSXYG/dDCIS6Qd0xM4vtyD9VAgishg6yPO
fUoFjup2Qr+9NfM9LTP2F7AVbQN/67gA15VGUzCHVAYfEP/C12ZpJp06m2baqeUE
9bZFu9ETf+8FcqOOfElHOW5uyG1wAZXqkIhspr5ZVW0XU8QlmQIDAQABo4IBJDCC
ASAwDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMCBggrBgEFBQcD
ATAMBgNVHRMBAf8EAjAAMB0GA1UdDgQWBBQj94VfL8jA6G4lFzhb100Hh3QwXjAf
BgNVHSMEGDAWgBQk6FNXXXw0QIep65TbuuEWePwppDBABggrBgEFBQcBAQQ0MDIw
MAYIKwYBBQUHMAGGJGh0dHA6Ly9vY3NwLmNsb3VkZmxhcmUuY29tL29yaWdpbl9j
YTAlBgNVHREEHjAcgg0qLmZseWRyb3AubmV0ggtmbHlkcm9wLm5ldDA4BgNVHR8E
MTAvMC2gK6AphidodHRwOi8vY3JsLmNsb3VkZmxhcmUuY29tL29yaWdpbl9jYS5j
cmwwDQYJKoZIhvcNAQELBQADggEBAI41z1HWkCRoZj5sG35lGdH4MKL6wx3mrtU9
Yss67y15DDb/6h51vmfRv3TffGC9IPUmn6ClrFUmpkEBjfj4f/gDyLjHi77syEIV
BYCOXj6ly9u0C2/jN5UyYiwF/CT4F602+ff1vxStFawLrvjUmaZAofdAh6gahtuV
Hx/itoEny/snA1PyDKHr+hNEEHReCOgvXf60gAi8ZrVucEgHpvGxcbfdt9RSMCoS
3YW8DHzLaWCuZ1qVdboZj95s009weekNTz9Oi8/xRCeOL0zH8CzcSwyjTDdbadw1
jnxmaqHgQ16ISGuji77a78p2o+X0pFV9fONUL7RXWgj4klDNhnA=
-----END CERTIFICATE-----